body{
    background-color: bisque;
}


.card1{
    margin-top: 50px;
    margin-left: 30px;
    background-color: rgb(250, 187, 92);
    text-align: center;
}

.card2{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
    background-color: rgb(255, 202, 252);
    text-align: center;
}
.card3{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
    background-color: rgb(119, 197, 197);
    text-align: center;
}
 .card4{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
    background-color: rgb(119, 197, 197);
    text-align: center;
 }
 .bordaa{
        
    background-color: blue;

 }
 weq